html {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  height: 100%;
  width: 100%;
  margin: auto;
}

#root {
  height: 100%;
  width: 100%;
}
